.header__navegation
{
    height: 100%;
    width: 100%;
    background-color: #7A6359;
}
.nav__navegation
{
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: #7A6359;
}
.item__navegation
{
    height: 2rem;
    margin: 0 1rem;
    padding: .2rem;
    background-color: #FBCBB7;
    text-align: center;
    text-decoration: none;
    color: #7A6359;
    font-weight: 900;
    border-radius: .5rem;
}