div.row
{
    margin: 0;
    padding: 0;
}

/* CONTAINER CONTAINER CONTAINER CONTAINER */

.container__elements
{
    padding-top: 4rem;
}
.element__title
{
    width: 30%;
    height: 2rem;
    background-color: #8F7700;
}
.element__text
{
    width: 50%;
    margin: 2rem 0 ;
    height: 1rem;
    background-color: #505050;
}
.container__content
{
    margin: 2rem 0;
}
.container__images
{
    margin: 1rem 0;
}
.item__images
{
    width: 12rem;
    height: 12rem;
    background-color: #505050;
}
.container__text
{
    margin: 2rem 0;
}
.item__text
{
    height: 12rem;
    background-color: #303030;
}


.element__text-button
{
    width: 100%;
    height: 1rem;
    margin: 0 0 2rem;
    background-color: #505050;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

.footer
{
    background-color: #282828;
    padding: 1rem 0;
}
.footer__title
{
    width: 70%;
    height: 2rem;
    margin: 1rem auto;
    background-color: #8F7700;   
}
.footer__text
{
    width: 70%;
    height: 1rem;
    margin: 1rem auto;
    background-color: #606060;
}
.footer__text:nth-child(5)
{
    width: 50%;
}