*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
html body
{
    background-color: #202020;
}
.header__container
{
    background-color: #606060;
    height: 100%;
}
